*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #1E2A3A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &__title{
        display: flex;

        &__img{
            width: 2rem;
        }
    }

    &__links{
        display: flex;
        text-decoration: none;
        padding: 30px;

        &__link{
            text-decoration: none;
            list-style-type: none;
            padding: 10px;

            a{
                cursor: pointer;
                text-decoration: none;
                color: white;
            }
        }
    }

    &__button{
        background-color: #D4A574;
        color: white;
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
}